.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    color: black;
}

.note {
    font-size: 15px;
    color: blueviolet;
}

body {
    background-size: cover;
}

canvas {
    border: 5px solid blanchedalmond;
    border-radius: 15px;
    box-shadow: 5px 5px 5px blueviolet;
}

.heading2 {
    font-size: 20px;
    width: 15%;
    color: blueviolet;
}



